<div class="admin theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper" [hidden]="loadingDone">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>お待ちください。</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--<a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>-->
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" routerLink="/admin/top">賃貸接客アドバイスシステム管理</a>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <!--<img src="assets/admin_bsb_material_design/images/user.png" width="48" height="48" alt="User" />-->
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{lastName}} {{firstName}}</div>
                    <div class="email">{{email}}</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <!--<li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                            <li role="seperator" class="divider"></li>-->
                            <li><a (click)="logout()"><i class="material-icons">input</i>ログアウト</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li [ngClass]="{'active' : router.url === '/admin/store'||router.url === '/admin/store/add'}">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i></i>
                            <span>店舗管理</span>
                        </a>
                        <ul class="ml-menu">
                            <li class="left_menu_item" [ngClass]="{'active' : router.url === '/admin/store'}">
                                <a routerLink="/admin/store">店舗一覧</a>
                            </li>
                            <li class="left_menu_item" [ngClass]="{'active' : router.url === '/admin/store/add'}">
                                <a routerLink="/admin/store/add">店舗登録</a>
                            </li>
                        </ul>
                    </li>
                    <li [ngClass]="{'active' : router.url === '/admin/staff'||router.url === '/admin/staff/add'}">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i></i>
                            <span>スタッフ管理</span>
                        </a>
                        <ul class="ml-menu">
                            <li class="left_menu_item" [ngClass]="{'active' : router.url === '/admin/staff'}">
                                <a routerLink="/admin/staff">スタッフ一覧</a>
                            </li>
                            <li class="left_menu_item" [ngClass]="{'active' : router.url === '/admin/staff/add'}">
                                <a routerLink="/admin/staff/add">スタッフ登録</a>
                            </li>
                           
                        </ul>
                    </li>
					<li [ngClass]="{'active' : router.url === '/admin/admin'||router.url === '/admin/admin/add'}">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i></i>
                            <span>管理者管理</span>
                        </a>
                        <ul class="ml-menu">
                            <li class="left_menu_item" [ngClass]="{'active' : router.url === '/admin/admin'}">
                                <a routerLink="/admin/admin">管理者一覧</a>
                            </li>
                            <li class="left_menu_item" [ngClass]="{'active' : router.url === '/admin/admin/add'}">
                                <a routerLink="/admin/admin/add">管理者登録</a>
                            </li>
                           
                        </ul>
                    </li>
					<li [ngClass]="{'active' : router.url === '/admin/customer'||router.url === '/admin/customer/view'}">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i></i>
                            <span>顧客管理</span>
                        </a>
                        <ul class="ml-menu">
                            <li class="left_menu_item" [ngClass]="{'active' : router.url === '/admin/customer'}">
                                <a routerLink="/admin/customer">顧客一覧</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    <!--content-->
	<router-outlet></router-outlet>
</div>

