.table-responsive {
	tr {
		td {
			vertical-align: middle;
		}
	}
}
.w80{
	width: 80px
}
.w140{
	width: 140px;
}
.w150{
	width: 150px;
}
.w160{
	width: 160px;
}
.w170{
	width: 170px;
}
.w180{
	width: 180px;
}

