<div style="background-color: #00BCD4 !important;width:100%;height:100%;position: absolute;">
<div class="login-page">
	<div class="login-box">
        <div class="logo">
            <a>貨貸接客アドバイス<br/>システム</a>
            <small></small>
        </div>
        <div class="card">
            <div class="body">
			<form id="forgot_password" method="POST">
				<div class="msg">
					<p style="font-weight: 600">パスワード再設定</p>
					<p class="m-t-20">登録メールアドレスを送信しました。</p>
				</div>
				<div class="input-group">
					
				</div>

				<button class="btn btn-block btn-lg bg-pink waves-effect" type="submit" routerLink="/staff/login">戻る</button>
			</form>
            </div>
        </div>
    </div>
</div>
</div>