<section class="content">
    <div class="container-fluid right-side">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            システムの使用方法
                        </h2>
                    </div>
                    <div class="body">
                        <div class="card">
							<div class="header">
								<h2>
									登録済みの店舗情報を確認する場合
								</h2>
							</div>
							<div class="body">
								<ol class="m-r--5">
									<li>サイドメニューの『店舗管理』内『店舗一覧』を押して、店舗一覧画面を表示します。</li>
									<li>店舗が一覧表示されますので、表示したい店舗の『詳細』ボタンを押して店舗情報を表示します。</li>
									<li>店舗情報が表示されますので、確認または編集、削除を実施します。</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="header">
								<h2>
									店舗を新規登録する場合
								</h2>
							</div>
							<div class="body">
								<ol class="m-r--5">
									<li>サイドメニューの『店舗管理』内『店舗登録』を押して、店舗登録画面を表示します。</li>
									<li>店舗情報を入力後、保存して下さい。</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="header">
								<h2>
									登録済みのスタッフ情報を確認する場合
								</h2>
							</div>
							<div class="body">
								<ol class="m-r--5">
									<li>サイドメニューの『スタッフ管理』内『スタッフ一覧』を押して、スタッフ一覧画面を表示します。</li>
									<li>スタッフが一覧表示されますので、表示したいスタッフの『詳細』ボタンを押してスタッフ情報を表示します。</li>
									<li>スタッフ情報が表示されますので、確認または編集、削除を実施します。</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="header">
								<h2>
									スタッフを新規登録する場合
								</h2>
							</div>
							<div class="body">
								<ol class="m-r--5">
									<li>サイドメニューの『スタッフ管理』内『スタッフ登録』を押して、スタッフ登録画面を表示します。</li>
									<li>スタッフ情報を入力後、保存して下さい。</li>
									<li>保存後、登録したメールアドレスおよび初期パスワードを登録したスタッフにご連絡ください。</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="header">
								<h2>
									登録済みの管理者情報を確認する場合
								</h2>
							</div>
							<div class="body">
								<ol class="m-r--5">
									<li>サイドメニューの『管理者管理』内『管理者一覧』を押して、管理者一覧画面を表示します。</li>
									<li>管理者が一覧表示されますので、表示したい管理者の『詳細』ボタンを押して管理者情報を表示します。</li>
									<li>管理者情報が表示されますので、確認または編集、削除を実施します。</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="header">
								<h2>
									管理者を新規登録する場合
								</h2>
							</div>
							<div class="body">
								<ol class="m-r--5">
									<li>サイドメニューの『管理者管理』内『管理者登録』を押して、管理者登録画面を表示します。</li>
									<li>管理者情報を入力後、保存して下さい。</li>
									<li>保存後、登録したメールアドレスおよび初期パスワードを登録した管理者にご連絡ください。</li>
								</ol>
							</div>
						</div>
						
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>