<section class="content">
    <div class="container-fluid right-side">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            システムの使用方法
                        </h2>
                    </div>
                    <div class="body">
                        <div class="card">
							<div class="header">
								<h2>
									接客アドバイスの内容を更新する場合
								</h2>
							</div>
							<div class="body">
								<ol class="m-r--5">
									<li>サイドメニューの『接客アドバイス管理』内の変更したいSTEPを押して、接客アドバイス一覧画面を表示します。</li>
									<li>接客アドバイスが一覧表示されますので、変更したい接客アドバイスの『編集』ボタンを押して、接客アドバイス編集画面を表示します。</li>
									<li>接客アドバイスを変更後、保存して下さい。</li>
								</ol>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>