<section class="content">
    <div class="container-fluid right-side">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            システムの使用方法
                        </h2>
                    </div>
                    <div class="body">
                        <div class="card">
							<div class="header">
								<h2>
									顧客情報を新規登録する場合
								</h2>
							</div>
							<div class="body">
								<ol class="m-r--5">
									<li>サイドメニューの『新規顧客登録』ボタンを押して、顧客登録画面を表示します。</li>
									<li>顧客情報を入力後、保存して下さい。</li>
									<li>保存が完了すると、顧客一覧画面が自動的に表示されます。</li>
									<li>先ほど登録した顧客が一覧上部に表示されますので、登録した顧客の詳細ボタンを押して顧客情報を表示します。</li>
									<li>顧客情報、最適な担当者、接客アドバイスが表示されますので、ご確認下さい。</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="header">
								<h2>
									システムに登録済みの顧客情報を確認する場合
								</h2>
							</div>
							<div class="body">
								<ol class="m-r--5">
									<li>サイドメニューの『顧客一覧』ボタンを押して、顧客一覧画面を表示します。</li>
									<li>顧客が一覧表示されますので、表示したい顧客の詳細ボタンを押して顧客情報を表示します。</li>
									<li>顧客情報、最適な担当者、接客アドバイスが表示されますので、ご確認下さい。</li>
								</ol>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>